<div class="container">
  <div class="row">
    <div>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombrePro">Nombre del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="nombrePro"
            [(ngModel)]="nombrePro"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcionPro">Descripcion del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="descripcionPro"
            [(ngModel)]="descripcionPro"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
          <label for="imgPro">URL de la imagen del proyecto</label>
          <input
            type="text"
            class="form-control"
            id="imgPro"
            [(ngModel)]="imgPro"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <button class="btn btn-primary">Agregar Proyecto</button>
      </form>
    </div>
  </div>
</div>
