<div class="row">
  <div class="container tituloBoton">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-2">
      <button
        class="btn btn-primary nuevo"
        routerLink="/nuevaexp"
        *ngIf="isLogged"
      >
        Nueva Experiencia
      </button>
    </div>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <td class="titulo"><h2>Empresa</h2></td>
        <td class="titulo"><h2>Descripción</h2></td>
        <td></td>
        <td></td>
        <tr *ngFor="let Experiencia of exp">
          <td>
            <h4>{{ Experiencia.nombreExp }}</h4>
          </td>
          <td>
            <h6>{{ Experiencia.descripcionExp }}</h6>
          </td>
          <td *ngIf="isLogged">
            <button
              type="button"
              class="btn"
              routerLink="/editarexp/{{ Experiencia.id }}"
            >
              <i class="bi bi-pen-fill"></i>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button
              type="button"
              class="btn"
              (click)="borrarExperiencia(Experiencia.id)"
            >
              <i class="bi bi-trash2-fill"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
