<div class="row">
  <h1>Hard Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn" routerLink="/editarskills">
      <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [showUnits]="false"
        [imageSrc]="'../../../assets/htmlIcon.png'"
        [showImage]="true"
        [imageWidth]="80"
        [imageHeight]="80"
        [title]="'HTML'"
        [showSubtitle]="false"
        [animation]="true"
        [animationDuration]="700"
      ></circle-progress>
    </button>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/cssIcon.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="80"
      [title]="'CSS'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/jsIcon.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="80"
      [title]="'JavaScript'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/angularIcon.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="80"
      [title]="'Angular'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/githubIcon.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="80"
      [title]="'Java'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/mysqlIcon.png'"
      [showImage]="true"
      [imageWidth]="80"
      [imageHeight]="80"
      [title]="'MySql'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <h1>Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FF7051'"
      [innerStrokeColor]="'#FC846A'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/idiomaIcon.png'"
      [showImage]="true"
      [imageWidth]="115"
      [imageHeight]="115"
      [title]="'HTML'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FF7051'"
      [innerStrokeColor]="'#FC846A'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/equipoIcon.png'"
      [showImage]="true"
      [imageWidth]="120"
      [imageHeight]="120"
      [title]="'CSS'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#FF7051'"
      [innerStrokeColor]="'#FC846A'"
      [showUnits]="false"
      [imageSrc]="'../../../assets/creatividadIcon.png'"
      [showImage]="true"
      [imageWidth]="130"
      [imageHeight]="130"
      [title]="'JavaScript'"
      [showSubtitle]="false"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
  </div>
</div>
