<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="../../../assets/fotoperfil.png"
      class="img-fluid"
      id="fotoDePerfil"
      alt="Foto de perfil"
    />
  </div>

  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
    <div class="container-fluid">
      <p id="nombre">{{ persona.nombre }} {{ persona.apellido }}</p>
      <div>
        <p id="titulo">{{ persona.titulo }}</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h1>Acerca de mí</h1>
      <p id="descripcion">
        {{ persona.descripcion }}
      </p>
    </span>
  </div>
</div>
