<div class="row">
  <div class="container">
    <div class="logo">
      <a href="https://argentinaprograma.inti.gob.ar/" target="_blank"
        ><img src="../../../assets/apLogo.png" id="logoAP" alt="logoAP"
      /></a>
    </div>
    <div class="redes">
      <a href="https://www.instagram.com/gonzo.barrionuevo/" target="_blank"
        ><img src="../../../assets/instaicon.png" alt="Icono Instagram"
      /></a>
      <a
        href="https://www.linkedin.com/in/gonzalo-barrionuevo-a27522210/"
        target="_blank"
        ><img src="../../../assets/linkedInIcon.png" alt="Icono LinkedIn"
      /></a>
      <a href="https://github.com/g0nnz0" target="_blank"
        ><img src="../../../assets/githubIcon.png" alt="Icono GitHub"
      /></a>
    </div>

    <button
      *ngIf="isLogged == false"
      type="button"
      class="btn btn-outline-success ingresar"
      (click)="login()"
    >
      Iniciar Sesión
    </button>
    <button
      *ngIf="isLogged == true"
      type="button"
      class="btn btn-outline-success ingresar"
      (click)="logout()"
    >
      Cerrar Sesión
    </button>
  </div>
</div>
