.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 575px) {
  .container {
    display: inline-grid;
    justify-items: center;
    margin-left: 100px;
  }
}

#logoAP {
  width: 200px;
}

.redes {
  display: inline-flex;
}

img {
  width: 50px;
  margin: 10px;
}

.ingresar {
  margin-right: 20px;
}
